@font-face {

    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
    src: url(../fonts/OpenSans-Regular.woff);
    src: url(../fonts/OpenSans-Regular.woff2);
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
    src: url(../fonts/OpenSans-Bold.woff);
    src: url(../fonts/OpenSans-Bold.woff2);
    font-weight: bold;
    font-style: normal;
}

body {
    width: 360px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;

    position: relative;
    
}

.header {

    width: 100%;
    display: flex;
    flex-direction: column;
    
    background-image: url(../images/banner-mobile.jpg);
    background-color: #666666;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
    z-index: -1;

  }

.header::after {

    content: "";
    width: 100%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #000000;
    opacity: 0.6;
    z-index: 0;

}

.header__top-panel {

    width: 100%;
    display: flex;    
    justify-content: flex-end;
    align-items: flex-end;

    z-index: 1;  

}

.header__menu {

    display: flex;
    justify-content: flex-start;
    visibility: hidden;
}

.header__menu-item {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;  
    text-decoration: none;
    color: #ffffff;

}

.header__menu-item:nth-child(n+2) {

    margin-left: 35px;

}

.header__button {

    z-index: 1;

    box-sizing: border-box;
    border: none;
    background: none;
    margin: 31px 16px 0 30px;
    padding: 0;

}

.header__button_elem {

    width: 23px;
    height: 3px;
    background-color: #ffffff;
    z-index: 1;
}

.header__button_elem:nth-child(n+2) {

    margin-top: 5px;

}

.header__slogan {

    display: block;
    margin:  174px 30px 218px 30px;
    text-align: center;
    z-index: 1;

}

.header__logo {

    width: 269px;
    height: 61px;
    

}

.header__slogan-text {

    font-family: OpenSans-Bold, sans-serif;
    color: #ffffff;
    font-size: 26px;
    line-height: 36px;

    text-transform: uppercase;
    text-align: center;

}

.header-slogan__text {

    margin: 0 260px;
    font-family: OpenSans-Bold, sans-serif;
    color: #ffffff;
    font-size: 40px;
    line-height: 75px;

    text-transform: uppercase;
    text-align: center;
    margin-top: 84px;

}

/* trends */

.trends {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.trends__title {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #0f0d0e;

    position: relative;
    margin-top: 44px;
    margin-bottom: 39px;

    text-align: center;
    
}

.trends__title:after { 

    content: "";
    width: 68px;
    height: 3px;

    position: absolute;
    top: 24px;
    right: 38px;

    opacity: 0.4;
    background-color: #ae9e5f;
   
}

.trends__posts {

    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.trends__posts-item {

    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #666666;

    position: relative;
}

.trends__posts-item:nth-child(n+2) {

    margin-top: 3px;
}

.trends__img {

    width: 100%;
    /* height: 231px; */
    
}

.trends__posts-item:after {

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    background-color: #0f0d0e;
    z-index: 1;

} 

.trends__content {

    width: 330px;

    box-sizing: border-box;
    border: 3px solid rgba(174,158,95,0.6);
    
    position: absolute;
    right: 15px;
    bottom: 16px;
    left: 15px;
    
    z-index: 2;
}

.trends__tag {
     
    display: flex;
    justify-content: start;
    margin: 33px 0 13px 21px;
    padding: 0;

}

.trends__tag-item {

    font-family: OpenSans-Bold, sans-serif;
    color: #ae9e5f;
    font-size: 14px;
    list-style-type: none;
    text-transform: uppercase; 

}

.trends__tag-item:nth-child(n+2) {

    margin-left: 20px;

}

.trends__tag-item:hover {

    text-decoration: underline;

}

.trends__name {

    font-family: OpenSans-Bold, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 28px;
    
}

.trends__name:hover {

    color: #ae9e5f;

} 

.posts {

    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.posts__list {

    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border-bottom: 3px solid #eeeeee;
    margin: 35px 15px 0 15px;

}

.posts__list:first-child {

    margin-top: 44px;

}

.posts__img {

    width: 100%;
    /* height: 253px; */
    background-color: #f1f6f1;
    
}

.posts__list-item {

    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.posts__head {

    display: block;
    
}

.posts__tag {
     
    display: flex;
    justify-content: start;
    margin: 15px 0 0 0;
    padding: 0;

}

.posts__tag-item {

    font-family: OpenSans-Bold, sans-serif;
    color: #ae9e5f;
    font-size: 14px;
    list-style-type: none;
    text-transform: uppercase; 

}

.posts__tag-item:nth-child(n+2) {

    margin-left: 20px;

}

.posts__tag-item:hover {

    text-decoration: underline;

}

.posts__title {

    font-family: OpenSans-Bold, sans-serif;
    color: #161516;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 13px;
    margin-bottom: 25px;
    
}

.posts__title:hover {

    color: #ae9e5f;
}

.posts__inform {

    display: flex;
    margin-bottom: 16px;
  
}

.posts__date {

    font-family: OpenSans-Regular, sans-serif;
    color: #888888;
    font-size: 12px;
    
}

.posts__author {

    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
    font-size: 12px;
    margin-left: 14px;

}

.posts__subtitle {

    font-family: OpenSans-Regular, sans-serif;
    color: #161516;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    
}

.sidebar {

    width: 100%;

    display: flex;
    flex-wrap: wrap;

}

.sidebar__latest-posts {

    width: 100%;
    margin: 0 15px 60px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.sidebar__title {

    width: 100%;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #0f0d0e;

    position: relative;
    
    margin-top: 44px;
    margin-bottom: 45px;

    text-align: center;
    
}

.sidebar__title:after { 

    content: "";
    width: 20%;
    height: 3px;

    position: absolute;
    top: 24px;
    right: 40%;

    opacity: 0.4;
    background-color: #ae9e5f;
   
}

.sidebar__post-item {

    display: flex;

}


.sidebar__post-item:nth-child(n+2) {

    margin-top: 20px;

}

.sidebar__img {
    
    background-color: #f5f7f5;

    margin-right: 20px;

}

.sidebar__post-info {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.sidebar__post-date {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 12px;
    color: #000000;
    opacity: 0.54;

    margin-top: 0;
    margin-bottom: 10px;

    align-items: flex-start;

}

.sidebar__post-name {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: 000000;
    text-transform: uppercase;

    margin: 0;

}


.search {

    width: 330px;
    height: 48px;
    display: flex;

    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 44px;

}

.search__field {

    width: 282px;
    height: 48px;
    box-sizing: border-box;

    background-color: #f5f7f6;
    border: none;
    padding: none;

}

.search__field:focus {

    outline: none;
    border: 2px solid #ae9e5f;
    
}

.search__field::placeholder {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    color: #000000;
    opacity: 0.54;

}

.search__button {

    width: 48px;
    height: 48px;
    padding: 0;
    background-color: #ae9e5f;
    border: none;
}

.search__button:hover {

    background-color: #353535;
}

.search__img {

    width: 18px;
    height: 18px;
    z-index: 0;
}

.subscribe {

    width: 100%;

    /* margin-bottom: 61px; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.subscribe__title {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px;
    color: #0f0d0e;

}

.subscribe__title::after {

    content: "";
    width: 66px;
    height: 3px;

    position: absolute;
    top: 24px;
    right: 6px;

    opacity: 0.4;
    background-color: #ae9e5f;
    
}

.subscribe__form {

    display: flex;
    flex-direction: column;

}

.subscribe__email {

    width: 330px;
    height: 48px;
    box-sizing: border-box;

    padding: 0 0 0 18px;
    margin-bottom: 16px;
    background-color: #f5f7f6;
    border: none;

}

.subscribe__email:focus {

    outline: none;
    border: 2px solid #ae9e5f;
    
}

.subscribe__email::placeholder {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    color: #000000;
    opacity: 0.54;

}

.subscribe__button {

    width: 330px;
    height: 48px;
    padding: 0;
    background-color: #ae9e5f;
    border: none;

    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;

}

.subscribe__button:hover {

    background-color: #353535;
}

.tags {

    width: 100%;
    /* height: 153px; */

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 15px;
}

.tags__title {

    width: 100%;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;

    position: relative;

    margin-top: 44px;
    margin-bottom: 41px;
    
}

.tags__title::after {

    content: "";
    width: 68px;
    height: 3px;

    position: absolute;
    top: 26px;
    right: 40%;

    opacity: 0.4;
    background-color: #ae9e5f;
    
}

.tags__tag-list {

    width: 330px;
    /* height: 102px; */

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    margin: 0;
    padding: 0;

}

.tags__tag-item {

    /* width: 86px; */
    /* height: 30px; */

    display: flex;
    justify-content: center;
    align-items: center;
    

    font-family: OpenSans-Bold, sans-serif;
    color: #161516;
    font-size: 12px;
    list-style-type: none;
    text-transform: uppercase; 
    
    box-sizing: border-box;
    border: 3px solid #ededed;
    margin-left: 5px;
    padding: 7px 13px;

}

 .tags__tag-item:nth-child(4n+1) {

    margin-left: 0;

}

.tags__tag-item:nth-child(n+5) {

    margin-top: 6px;

}

.tags__tag-item:hover {

    text-shadow: #161516 1px 0;
}

.category {

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 15px;
}

.category__title {

    width: 100%;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;

    position: relative;

    margin-top: 44px;
    margin-bottom: 22px;
    
}

.category__title::after {

    content: "";
    width: 66px;
    height: 3px;

    position: absolute;
    top: 24px;
    right: 40%;

    opacity: 0.4;
    background-color: #ae9e5f;
    
}

.category-table {

    table-layout: fixed;

    width: 330px;
    display: flex;
    justify-content: flex-start;


    
}

.category__item {

    width: 330px;

    display: flex;
    border-bottom: 1px solid #ededed;
    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
    font-size: 14px;
    padding: 18px 0;

}

.category__item-name:hover {

    color: #ae9e5f;

}

.category__item-count {
    color: #ae9e5f;
    font-size: 12px;

    margin-left: 5px;

}


.shop {

    width: 100%;
    height: 1530px;
    
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    margin: 0 15px;
    border: 1px solid #ffffff;

}

.shop__title {

    width: 100%;
    position: relative;

    
    font-family: OpenSans-Bold, sans-serif;
    font-size: 16px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;

    margin-top: 44px;
    margin-bottom: 42px;
    
}

.shop__title::after {

    content: "";
    width: 67px;
    height: 3px;

    position: absolute;
    top: 27px;
    right: 40%;

    opacity: 0.4;
    background-color: #ae9e5f;

}

.shop__products {
    
    width: 100%;
    /* height: 1530px; */
    display: flex;
    flex-direction: column;
}

.shop__product-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 330px;

    position: relative;

}

.shop__product-item:nth-child(n+2) {

    margin-top: 25px;
}

.product__pillows {

    height: 473px;
}

.product__bunny {

    height: 515px;

}

.product__border {

    height: 493px;

}

.shop__product-card {

    width: 100%;
    /*height: 270px; */

    box-sizing: border-box;
    border: 3px solid rgba(174,158,95,0.6);
    
    position: absolute;
    top: 253px;

    padding: 0 22px 25px 18px;

}

.shop__product-name {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #0f0d0e;

    margin: 54px 0 10px 0;
   
}

.shop__product-description {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    margin: 0;

}

.shop__product-link {

    color: #cabb92;
    text-decoration: none;

}

.shop__product-link:hover {

    text-decoration: underline;

}

.shop__product-footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

}

.shop__product-prices {

    font-family: OpenSans-Bold, sans-serif;
    display: flex;
    flex-direction: column;

}

.product-prices__old-price {

    font-size: 14px;
    text-decoration: line-through;
    color: #161516;


    position: relative;
    
}

/* .product-prices__old-price::after {

    content: "";
    width: 5px;
    height: 1px;
    background-color: #161516;

    position: absolute;
    top: 11px;
    right: 0;

} */

.product-prices__new-price {
    
    font-size: 20px;
    color: #161516;

    position: relative;

}

/* .product-prices__new-price::after {

    content: "";
    width: 7px;
    height: 1px;

    color: #161516;

    position: absolute;
    

} */

.shop__product-button {

    width: 140px;
    height: 50px;
    background-color: #b59f5b;
    border-radius: 0;

    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;

    box-sizing: border-box;
    padding: 0;
    border: 0;

}

.shop__product-button:hover {

    background-color: #000000;
}


/* footer */


.footer {
    
    width: 100%;
    /* height: 213px; */

    margin: 0 15px;
    padding-top: 0;
    padding-bottom: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.footer__socials {

    width: 100%;
    height: 83px;
    margin: 43px 0 50px 0;


    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f4f7f6;

}

.footer__socials-links {

    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 

}

 .footer__logo {

    width: 20px;

}

.footer__socials-item:nth-child(n+2) {

    margin-left: 30px;

}

.footer__copyrights {

    width: 100%;
    /* height: 130px; */
    box-sizing: border-box;

    margin-bottom: 50px;
    
}

.footer__copyrights-info {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    color: #999999;
    text-align: center;
    margin: 0;

}

.popup {

    width: 330px;
    /* height: 590px; */

    /* visibility: hidden; */

    background-color: rgba(0, 0, 0, 0.6);

    position: fixed;
    top: 55px;
    left: 15px;

}

.popup__container {

    box-sizing: border-box;
    padding: 0 25px;
    background-color: #ffffff;

    position: relative;

    display: flex;
    flex-direction: column;

}

.popup__title {

    width: 100%;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #0f0d0e;

    position: relative;
    margin: 50px 0 42px 0;
    text-align: center;
    
}

.popup__title:after { 

    content: "";
    width: 66px;
    height: 3px;

    position: absolute;
    top: 26px;
    right: 40%;

    opacity: 0.4;
    background-color: #ae9e5f;
   
}


.popup__frequency-title {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    color: #0f0d0e;

}
.popup__select {

    width: 281px;
    height: 49px;
    margin-top: 10px;
    padding-left: 20px; 
    box-sizing: border-box;
    border: none;
   
    -moz-appearance: none;
    -webkit-appearance: none;

    background-color: #f5f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-size: 9px 17px;
    background-repeat: no-repeat;
    background-position: right 15px center;


    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    color: #0f0d0e;

}

.popup__select:focus {

    outline: none;
    border: 2px solid #ae9e5f;

}

.popup__radio-button {

    margin-top: 33px;
}

.popup__radio-title {
   
    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    color: #0f0d0e;

}

.popup__radio-group {

    display: inline-block;
    margin-top: 9px;

}

.popup__radio-group:nth-of-type(n+2) {

    margin-left: 34px;

}

.popup__radio {
    
    display: none;

}

.popup__radio-text {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    color: #0f0d0e;

}

.popup__radio-text::before {

    content: "";
    display: inline-block;

    width: 26px;
    height: 26px;
    margin-right: 5px;

    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px;

    vertical-align: middle;

}

.popup__radio:checked ~.popup__radio-text::before {

    background-image: url(../svg/form-circle.svg);

}

.popup__input {

    width: 281px;
    /* height: 169px; */

    margin-top: 33px;
    margin-bottom: 25px;

}

.popup__input-title {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    color: #0f0d0e;

}

.popup__input-form {

    width: 281px;
    height: 132px;
    box-sizing: border-box;
    display: flex;

    margin-top: 9px;
    padding: 21px;

    background-color: #f5f7f6;
    border: none;

}

.popup__input-form:focus {
    
    outline: none;
    border: 2px solid #ae9e5f;

}

.popup__input-form::placeholder {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 13px;
    color: #0f0d0e;
    opacity: 0.54;
    vertical-align: text-top;
    
}

.popup__button {

    width: 281px;
    height: 49px;
    background-color: #ae9e5f;
    
    border: none;
    margin-bottom: 30px;

    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;

}

.popup__button:hover {
    
    background-color: #353535;

}

.popup__close {

    position: absolute; 
    top: -32px;
    right: 0;
 
    width: 28px;
    height: 28px;
 
    background: none;
    border: none;
    padding: 0;
 
 }