@font-face {

    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
    src: url(../fonts/OpenSans-Regular.woff);
    src: url(../fonts/OpenSans-Regular.woff2);
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
    src: url(../fonts/OpenSans-Bold.woff);
    src: url(../fonts/OpenSans-Bold.woff2);
    font-weight: bold;
    font-style: normal;
}

.main-container {

    background-color: #ffffff;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.header {

    width: 100%;
    
    background-image: url(../images/banner-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;

}


.header::after {

    content: "";  
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .header-container {

    min-width: 20.625em;
    padding: 0 0.9375em;

    display: flex;
    flex-direction: column;
  }

.header__top-panel {

    width: 100%;
    display: flex;
    flex-direction: column-reverse;     
    z-index: 1; 

    margin-top: 1.9375em;
}

.header__burger-menu {
    display: flex;
    justify-content: flex-end;
}

.header__logo {

    width: 16.875em;
    z-index: 1;
    align-self: center;
    margin: 0 1.875em;
}

.header__menu {

    display: flex;
    margin: 0.1875em 0 0 0;
    visibility: hidden;
}

.header__menu-item {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 0.8125em;
    text-transform: uppercase;  
    text-decoration: none;
    color: #ffffff;
    list-style-type: none;

}

.header__menu-item:nth-child(n+2) {

    margin-left: 2.69em;

}

.header__menu-link {

    text-decoration: none;
    color: #ffffff;

}

.header__menu-link:hover {

    text-decoration: underline;
    
}

.header__button {
    z-index: 1;
    box-sizing: border-box;
    border: none;
    background: none;
    padding: 0;
    margin: 0 0.0625em 11.625em 1.875em;
    align-self: end;

}

.header__button-elem {

    width: 1.4375em;
    height: 0.1875em;
    background-color: #ffffff;
    z-index: 1;
}

.header__button-elem:nth-child(n+2) {

    margin-top: 0.3125em;

}

.header__slogan {

    z-index: 1;
    margin: 2.1875em 1.25em 13.6875em 1.25em;

}

.header__slogan-text {

    font-family: OpenSans-Bold, sans-serif;
    color: #ffffff;
    font-size: 1.625em;
    line-height: 1.8em;
    text-transform: uppercase;
    text-align: center; 
    margin: 0;
}

.trends {

    width: 100%;
    
}

.trends-container {
    min-width: 20.625em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;


}

.trends__title-text {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #0f0d0e;
    position: relative;
    margin: 2.75em 0 2.5em 0;
    
}

.trends__title-text::after {

    content: "";
    width: 4.1875em;
    height: 0.1875em;
    background-color: rgba(174,158,95,0.4);
    position: absolute;
    bottom: -0.75em;
    left: 2.5em;

}

.trend__posts {

    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.trend__post {

    width: 100%;
    display: flex;

    background-color: #606260;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    padding: 0 0.9375em;

    position: relative;

}

.trend__post:nth-child(n+2) {

    margin-top: 0.1875em;

}

.trend__post:after {

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.window-garden {

    background-image: url(../images/trend1.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.cheese-picture {

    background-image: url(../images/trend2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.jogging-mountain {

background-image: url(../images/trend3.jpg);
background-size: cover;
background-repeat: no-repeat;

}

.fresh-lemons {

    background-image: url(../images/trend4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.trend__content {

    width: 100%;
    box-sizing: border-box;
    border: 0.1875em solid rgba(174,158,95,0.6);
    
    display: flex;
    flex-direction: column;

    align-self: flex-end;

    margin-bottom: 1.0625em;
    margin-top: 5.5em;
    padding: 2.0625em 1.875em 1.9375em 1.375em;

    z-index: 1;

}

.trend__tag {
     
    display: flex;
    justify-content: start;
    margin: 0 0 1.0625em 0;
    padding: 0;

}

.trend__tag-item {

    font-family: OpenSans-Bold, sans-serif;
    color: #ae9e5f;
    font-size: 0.875em;
    list-style-type: none;
    text-transform: uppercase; 

}

.trend__tag-item:nth-child(n+2) {

    margin-left: 1.43em;

}

.trend__tag-link {

    text-decoration: none;
    color: #ae9e5f;

}

.trend__tag-link:hover {

    text-decoration: underline;
    
}

.trend__name {

    margin: 0;

}

.trend__name-link {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 1em;
    line-height: 1.25em;
    text-transform: uppercase;

    text-decoration: none;
    color: #ffffff;

}

.trend__name-link:hover {

    color: #ae9e5f;
    
}

.posts {

    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.75em;
    padding: 0 0.9375em;
    box-sizing: border-box;
    
}

.post__list {

    width: 100%;
    display: flex;
    flex-direction: column;

    border-bottom: 0.1875em solid #eeeeee;

}

.post__list:nth-child(n+2) {

    margin-top: 2.1875em;
}

.post__list-item {

    display: block;

}

.post__img {

    width: 100%;
    background-color: #f1f6f1;
    
}

.post__list-item {

    margin-top: 1em;

}

.post__head {

    display: block;
    
}

.post__tag {
     
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;

}

.post__tag-item {

    font-family: OpenSans-Bold, sans-serif;
    color: #ae9e5f;
    font-size: 0.875em;
    list-style-type: none;
    text-transform: uppercase; 

}

.post__tag-item:nth-child(n+2) {

    margin-left: 1.43em;

}

.post__tag-link {

    text-decoration: none;
    color: #ae9e5f;

}

.post__tag-link:hover {

    text-decoration: underline;
    
}

.post__title {

    margin: 1em 0 1.5em 0;

}

.post__title-link {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 1em;
    line-height: 1.25em;
    text-transform: uppercase;

    text-decoration: none;
    color: #000000;

}

.post__title-link:hover {

    color: #ae9e5f;
    
}

.post__inform {

    display: flex;

}

.post__date {

    font-family: OpenSans-Regular, sans-serif;
    color: #888888;
    font-size: 0.75em;
    
}

.post__author {

    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
    font-size: 0.75em;
    margin-left: 1.25em;

}

.post__description {

    font-family: OpenSans-Regular, sans-serif;
    color: #161516;
    font-size: 0.875em;
    line-height: 1.43em;
    margin: 1.36em 0 1.79em 0;
    
}

.sidebar {

    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 0.9375em;

}

.sidebar__latest-posts {

    width: 100%;
    margin-bottom: 3.75em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.sidebar__title-text {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #0f0d0e;
    position: relative;
    margin: 2.75em 0 2.5em 0;    

}

.sidebar__title-text::after {

    content: "";
    width: 4.1875em;
    height: 0.1875em;
    background-color: rgba(174,158,95,0.4);
    position: absolute;
    bottom: -0.75em;
    left: 1.6875em;

}

.latest-post {

    width: 100%;

}

.latest-post__item {

    width: 100%;
    display: flex;
    
}

.latest-post__item:nth-child(n+2) {

    margin-top: 1.375em;

}

.latest-post__img {

    background-color: #f5f7f5;

    margin-right: 1.25em;

}

.latest-post__info {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.latest-post__date {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.54);

    margin-top: 0;
    margin-bottom: 0.75em;

    align-items: flex-start;

}

.latest-post__name {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.875em;
    line-height: 1.29em;
    color: #000000;
    text-transform: uppercase;

    margin: 0;

}

.search {

    width: 100%;
}

.search__form {

    width: 100%;
    height: 3em;
    display: flex;

}

.search__group {

    width: 100%;

}

.search__field {

    width: 100%;
    height: 3em;
    box-sizing: border-box;

    padding: 1.125em;
    background-color: #f5f7f6;
    border: none;

}

.search__field:focus {

    outline: none;
    border: 0.125em solid #ae9e5f;
    
}

.search__field::placeholder {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 0.8125em;
    color: #000000;
    opacity: 0.54;

}

.search__button {

    width: 3em;
    height: 3em;
    padding: 0;
    background-color: #ae9e5f;
    border: none;
}

.search__button:hover {

    background-color: #353535;
}

.search__button-img {

    width: 1.125em;

}

.subscribe {

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.subscribe__title-text {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #0f0d0e;
    position: relative;
    margin: 2.75em 0 2.5em 0;    

}

.subscribe__title-text::after {

    content: "";
    width: 4.1875em;
    height: 0.1875em;
    background-color: rgba(174,158,95,0.4);
    position: absolute;
    bottom: -0.75em;
    left: 0.625em;

}

.subscribe__form {

    width: 100%;
    display: flex;
    flex-direction: column;
}

.email-field {

    width: 100%;
    height: 3em;
    box-sizing: border-box;

    padding: 1.125em;
    margin-bottom: 1em;
    background-color: #f5f7f6;
    border: none;

}

.email-field:focus {

    outline: none;
    border: 0.125em solid #ae9e5f;
    
}

.email-field::placeholder {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 0.8125em;
    color: #000000;
    opacity: 0.54;

}

.subscribe__button {

    width: 100%;
    height: 3.43em;
    padding: 0;
    background-color: #ae9e5f;
    border: none;

    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.875em;
    color: #ffffff;
    text-transform: uppercase;

}

.subscribe__button:hover {

    background-color: #353535;
}

.tags {

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.tags__title-text {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #0f0d0e;
    position: relative;
    margin: 2.75em 0 2.5em 0;    

}

.tags__title-text::after {

    content: "";
    width: 4.1875em;
    height: 0.1875em;
    background-color: rgba(174,158,95,0.4);
    position: absolute;
    bottom: -0.75em;
    left: -0.75em;

}

.tag {

    width: 100%;

    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

}

.tag__item {

    box-sizing: border-box;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    font-family: OpenSans-Bold, sans-serif;
    color: #161516;
    font-size: 0.75em;
    list-style-type: none;
    text-transform: uppercase; 
    
    padding: 0.583em 1.33em 0.583em 1.17em;
    border: 0.25em solid #ededed;
    margin-right: 0.42em;
    margin-top: 0.5em;


}

.tag__item:hover {

    border-color: #ae9e5f;

}

.tag__item-link {

    text-decoration: none;
    color: #161516;

}


.categories {

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categories__title-text {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #0f0d0e;
    position: relative;
    margin: 2.75em 0 2.5em 0;    

}

.categories__title-text::after {

    content: "";
    width: 4.1875em;
    height: 0.1875em;
    background-color: rgba(174,158,95,0.4);
    position: absolute;
    bottom: -0.75em;
    left: -0.5em;

}

.categories__list {
   
    width: 100%;
   
}

.category {

    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
   
}

.category__item {

    list-style-type: none;
    border-bottom: 0.0625em solid #ededed;
    padding-bottom: 0.9375em;
    box-sizing: border-box;

    display: flex;

}

.category__item:nth-child(n+2) {
    
    margin-top: 1.1875em;

}

.category__item-link {

    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
    font-size: 0.875em;
    padding: 0;   
    text-decoration: none;

}

.category__item-link:hover {

    color: #ae9e5f;

}

.category__count {

    padding: 0;

}

.category__item-count {
    
    font-family: OpenSans-Bold, sans-serif;
    color: #ae9e5f;
    font-size: 0.75em;
    list-style-type: none;
    padding-left: 0.42em;
}


.shop {

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0.9375em;
    margin-bottom: 2.6875em;

}

.shop__title-text {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #0f0d0e;
    position: relative;
    margin: 2.75em 0 2.5em 0;    

}

.shop__title-text::after {

    content: "";
    width: 4.1875em;
    height: 0.1875em;
    background-color: rgba(174,158,95,0.4);
    position: absolute;
    bottom: -0.75em;
    left: 2.1875em;

}

.shop__products {

    display: flex;
    flex-direction: column;
    width: 100%;
}

.product {

    display: flex;
    flex-direction: column;

    width: 100%;
    background-position: top;
    background-repeat: no-repeat;

}

.product:nth-child(n+2) {
    
    margin-top: 1.5625em;

}

.product__pillows {
    background-image: url(../images/shop-item-mobile1.jpg);
    background-repeat: no-repeat;

} 

.product__dolly-bunny {

    background-image: url(../images/shop-item-mobile2.jpg);
    background-repeat: no-repeat;


}

.product__hexagonal-frame {

    background-image: url(../images/shop-item-mobile3.jpg);
    background-repeat: no-repeat;

}

.product__card {

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0.1875em solid rgba(174,158,95,0.6);
    margin-top: 15.8125em;

    padding: 3.375em 1.375em 1.625em 1.375em;

}

.product__name {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 1.0625em;
    text-transform: uppercase;
    color: #0f0d0e;

    margin: 0 0 0.47em 0;
   
}

.product__description {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 0.9375em;
    line-height: 1.47em;
    color: #0f0d0e;
    margin: 0;
}

.product__link {

    color: #cabb92;
    text-decoration: none;
}

.product__link:hover {

    text-decoration: underline;

}

.product__footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5625em;
}

.product__prices {
    font-family: OpenSans-Bold, sans-serif;
    display: flex;
    flex-direction: column;

}

.product__old-price {

    font-size: 0.875em;
    text-decoration: line-through;
    color: #161516;
    
}

.product__new-price {
    
    font-size: 1.25em;
    color: #161516;

}

.product__button {

    width: 10em;
    height: 3.57em;
    background-color: #b59f5b;
    border-radius: 0;

    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.875em;
    color: #ffffff;
    text-transform: uppercase;

    box-sizing: border-box;
    padding: 0;
    border: 0;

}

.product__button:hover {

    background-color: #353535;

}

.footer {
    
    width: 100%;

    padding: 0 0.9375em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.socials {

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f4f7f6;

}

.socials__links {

    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 2em;
    margin-bottom: 2em;

}

.socials__link:nth-child(n+2) {

    margin-left: 1.875em;

}

.logo-dribbble {

    width: 1.25em;

}

.logo-pinterest {

    width: 1em;

}

.logo-tumblr {

    width: 0.8125em;

}

.copyrights {

    width: 100%;
    box-sizing: border-box;
    padding-top: 3.125em;
    padding-bottom: 3.125em;
    
}

.copyrights__info {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.75em;
    color: #999999;
    text-align: center;
    margin: 0;

}

.popup-container {

    width: 100%;
    visibility: hidden;

    position: absolute;
    top: 3.5em;

    z-index: 100;

}

.popup-container::before {

    content: "";

    background-color: rgba(0, 0, 0, 0.6);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    
}

.popup {
    width: 100%;
    box-sizing: border-box;
    padding: 1.875em 1.5625em;
    background-color: #ffffff;

    position: relative;

    display: flex;
    flex-direction: column;

}

.popup__title {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.popup__title-text {

    font-family: OpenSans-Bold, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #0f0d0e;
    position: relative;
    margin: 0 0 2.5em 0;    
    align-self: center;

}

.popup__title-text::after {

    content: "";
    width: 4.1875em;
    height: 0.1875em;
    background-color: rgba(174,158,95,0.4);
    position: absolute;
    bottom: -0.75em;
    left: 1.375em;

}

.frequency__title {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 0.8125em;
    color: #0f0d0e;

}
.frequency__select {

    width: 100%;
    height: 3.7em;
    margin-top: 0.85em;
    padding-left: 1.54em;
    border: none;
   
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #f5f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-size: 0.62em 1.31em;
    background-repeat: no-repeat;
    background-position: right 1.15em center;


    font-family: OpenSans-Regular, sans-serif;
    font-size: 0.8125em;
    color: #0f0d0e;

}

.frequency__select:focus {

    outline: none;
    border: 0.15em solid #ae9e5f;

}

.radio-button {

    margin-top: 2.3125em;
}

.radio-button__title {
   
    font-family: OpenSans-Regular, sans-serif;
    font-size: 0.8125em;
    color: #0f0d0e;

}

.radio {

    display: none;
    
}

.radio-group {

    display: inline-block;

    font-family: OpenSans-Regular, sans-serif;
    font-size: 0.8125em;
    color: #0f0d0e;
    margin-top: 0.69em;

}

.radio-group:nth-of-type(n+2) {

    margin-left: 2.7em;

}

.radio-group__text::before {

    content: "";
    display: inline-block;

    width: 1.92em;
    height: 1.92em;
    margin-right: 0.54em;

    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.92em;

}

.radio:checked ~.radio-group__text::before {

    background-image: url(../svg/form-circle.svg);

}

.input-content {

    width: 100%;
    margin-top: 2.32em;
    margin-bottom: 1.6875em;

}

.input-content__title {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 0.8125em;
    line-height: 1.54em;
    color: #0f0d0e;

}

.input-content__form {

    width: 100%;
    box-sizing: border-box;
    display: flex;

    margin-top: 0.92em;
    padding: 1.92em 1.62em 7.69em 1.62em;

    background-color: #f5f7f6;
    border: none;

}

.input-content__form:focus {
    
    outline: none;
    border: 0.15em solid #ae9e5f;

}

.input-content__form::placeholder {

    font-family: OpenSans-Regular, sans-serif;
    font-size: 0.8125em;
    color: #0f0d0e;
    opacity: 0.54;
    margin: 0;    
}

.popup-button {

    width: 100%;
    height: 3.43em;
    background-color: #ae9e5f;
    border: none;

    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.875em;
    color: #ffffff;
    text-transform: uppercase;

}

.popup-button:hover {
    
    background-color: #353535;

}

.popup-close {

    position: absolute; 
    top: -1.5em;
    right: 0.0625em;
 
    width: 1.6875em;
    height: 1.625em;
 
    background: none;
    border: none;
 
 }

    @media (orientation: landscape) and (max-width: 640px) {

     .trend__post {
        
        width: calc(50% - 0.1875em);
        margin-top: 0.1875em;
    
    }

    .trend__post:nth-child(2n+1) {

        margin-right: 0.1875em;
    }

}

  @media (orientation: portrait) and (max-width: 640px)  {

    .trend__post {

        width: 100%;

    }
} 

  @media (min-width: 641px) and (max-width: 1200px) {

    .header {
        background-image: url(../images/banner-bg-tablet.jpg);

    }
    
    .header-container {

        min-width: 43.625em;
        padding: 0 2.1875em;

      }

    .header__top-panel {

        flex-direction: row;

        box-sizing: border-box;
        margin-top: 3.125em; 
        margin-bottom: 7.5em;  
        justify-content: space-between;

      }

      .header__logo {

        width: 9.875em;
        margin: 0;
        align-self: start;

      }

    .header__burger-menu {

        align-items: center;

    }

    .header__menu {

        margin: 0;
        padding-left: 0;        

    }

      .header__button {

        margin-bottom: 0;
        align-self: auto;

    }

      .header__slogan {

        width: 43.625em;
        margin-top: 0;
        margin-left: auto;
        margin-bottom: 7.75em;
        margin-right: auto;

      }

      .header__slogan-text {

        font-size: 2.5em;
        line-height: 1.375em;
        margin: 0 1em; 

      }

      .trends__title-text, .shop__title-text {

        font-size: 1.125em;

      }

      .trends__title, .shop__title, sidebar__title {

        margin-top: 3.125em;

      }


      .sidebar__title-text, .subscribe__title-text, .tags__title-text, .categories__title-text {

        font-size: 0.875em;

      }

      .subscribe__title, .tags__title, .categories__title {

        margin-top: 3.8125em;
      }

      .trend__posts {

        justify-content: center;
      }

      .trend__post {

        width: calc(50% - 0.25em);
        margin-top: 0.1875em;
        padding: 0 1.25em;
        
      }

      .trend__post:nth-child(2n+1) {

        margin-right: 0.25em;
    
    }

    .trend__content {

        padding: 2.1875em 1.9375em 2.125em 1.9375em;
    }


    .posts {

        width: calc(55.6% - 2.1875em);
        margin-top: 3.1875em;
        padding: 0 0 0 2.1875em;
        box-sizing: content-box;
    }
    
    .post__list:nth-child(n+2) {

    margin-top: 2.625em;
}

    .post__title-link {

        font-size: 1.0625em;
        line-height: 1.18em;
    }

    .post__description {

       font-size: 0.9375em; 
        line-height: 1.47em;
    }
    
    .sidebar {
        width: calc(44.4% - 4.375em);
        float: right;
        padding: 0 2.1875em;
        box-sizing: content-box;
        align-self: flex-end;

    }

    .sidebar__title {
        margin-top: 3.1875em;

    }

    .shop {

        width: 100%;
        box-sizing: border-box;
        padding: 0 2.1875em;

    }

    .shop__products {

        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .product {

        width: calc(50% - 0.72em);

    }

    .product:nth-child(n+2) {
    
        margin-top: 0;
    
    }

    .product:nth-child(n+3) {
    
        margin-top: 1.75em;
    
    }

    .product__card {
        height: 100%;
    }

    .footer {

        padding: 0 2.1875em;
    }

    .popup-container {

        width: 25em;  
        top: 14.75em;
        left: auto;
    
    }

  }

   @media (orientation: landscape) and (min-width: 641px) and (max-width: 1200px) { 

    .trends {

        width: 200%;
    }

    .trends-container {

        width: ;
    }

    .trend__posts {

        flex-wrap: nowrap;
    
    }

    .trend__post {

        width: calc(50% - 0.25em);
        margin-right: 0.25em;

      }

      .trend__post:nth-child(4) {

        margin-right: 0;
    
    }
       
    }
    
      @media (orientation: portrait) and (min-width: 641px) and (max-width: 1200px) { 

        .trend__post {

            width: calc(50% - 0.25em);

          }    
      }

      @media (min-width: 1201px) {

    .main-container {

    margin: 0 auto; 

    }

.header {

    background-image: url(../images/banner-bg.jpg);

}

  .header-container {

    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;

    align-items: center;
    position: relative;


  }


.header__top-panel {

    width: 1170px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 36px;
    
}

.header__logo {

    width: 179px;
    margin: 0;
    
}

.header__menu {
    margin: 0;
    padding: 0;
    visibility: initial;

}

.header__menu-item:nth-child(n+2) {

    margin-left: 28px;

}

.header__button {

    display: none;
}

.header__slogan {

    width: 650px;
    align-self: center;
    margin: 92px 260px 147px 260px;

}

.header__slogan-text {

    font-size: 40px;
    line-height: 75px;

}

.trends-container {

    min-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    justify-content: center;

}

.trends__title-text {

    font-size: 20px;
    margin: 63px 0 45px 0;
    
}

.trends__title-text::after {

    width: 67px;
    height: 3px;
    left: 33%;
    bottom: -15px;
}


.trend__posts {

    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

}

.trend__post {

    box-sizing: border-box;

}

.trend__post:nth-child(n+2) {

    margin-left: 4px;
    margin-top: 0;

}

.window-garden {

    width: 414px;

}

.cheese-picture {

    width: 414px;

}

.jogging-mountain {

    width: 414px;

}

.fresh-lemons {

    width: 414px;

}

.trend__content {

    width: 371px;    

    flex-wrap: wrap;
    margin: 134px 22px 16px 18px;
    padding: 38px 40px 38px 32px;

}

.trend__tag {
     
    margin-bottom: 16px;

}

.trend__tag-item:nth-child(n+2) {

    margin-left: 20px;

}

.trend__name-link {

    font-size: 20px;
    line-height: 24px;
    margin: 0;

}

.posts {

    width: 790px;
    margin-top: 65px;
    padding-left: 15px;
    padding-right: 0;
    margin-left: auto;
    float: left;

}

.post__list {

    width: 775px;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: none;

}

.post__list:nth-child(n+2) {

    margin-top: 62px;
}

.post__img {

    width: 381px;
    
}

.post__list-item {

    margin-left: 31px;
    margin-top: 0;

}

.post__tag-item:nth-child(n+2) {

    margin-left: 20px;

}

.post__title-link {

    font-size: 20px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 37px;

}

.post__inform {

    margin-bottom: 55px;

}

.post__author {

    margin-left: 15px;

}

.post__description {

    font-size: 15px;
    line-height: 22px;
    margin: 0;
    
}

.sidebar {

    width: 285px;
    padding-right: 15px;
    padding-left: 0;
    float: right;
    margin-left: 126px;

}

.sidebar__latest-posts {

    width: 270px;
    margin-bottom: 60px;

}

.sidebar__title-text {

    font-size: 14px;
    margin: 64px 0 45px 0;

}

.sidebar__title-text::after {

    width: 67px;
    height: 3px;
    left: 20%;
    bottom: -15px;

}

.latest-post {

    width: 270px;

}

.latest-post__item {

    width: 270px;
    
}

.latest-post__img {

    width: 70px;
    margin-right: 19px;

}

.latest-post__date {

    font-size: 12px;
    margin-bottom: 9px;


}

.latest-post__name {

    line-height: 18px;

}

.search__form {

    width: 270px;
    height: 49px;

}

.search__field {

    width: 222px;
    height: 49px;
    padding: 0 0 0 18px;

}

.search__button {

    width: 48px;
    height: 49px;

}

.search__button-img {

    width: 18px;

}

.search__group {

    width: 270px;

}

.subscribe {

    width: 270px;
    
}

.subscribe__title-text {

    font-size: 14px;
    margin: 64px 0 45px 0;

}

.subscribe__title-text::after {

    width: 67px;
    height: 3px;
    left: 10%;
    bottom: -15px;

}

.subscribe__form {

    width: 270px;

}

.email-field {

    width: 270px;
    height: 49px;

    padding: 0 0 0 18px;

}

.subscribe__button {

    width: 270px;
    height: 49px;

}

.tags {

    width: 270px;

}

.tags__title-text {

    font-size: 14px;
    margin: 64px 0 45px 0;

}

.tags__title-text::after {

    width: 67px;
    height: 3px;
    left: -38%;
    bottom: -15px;

}

.tag {

    width: 270px;
    justify-content: flex-start;

}

.tag__item {

    border: 3px solid #ededed;
    margin-right: 5px;
    padding: 8px 15px 7px 14px;

}

.tag__item:nth-child(n+4) {

    margin-top: 6px;

}

.categories {

    width: 270px;

}

.categories__title-text {

    font-size: 14px;
    margin: 64px 0 45px 0;

}

.categories__title-text::after {

    width: 67px;
    height: 3px;
    left: -27%;
    bottom: -15px;

}

.categories__list {
   
    width: 270px;
   
}

.category {

    width: 270px;
   
}

.category__item {

    border-bottom: 1px solid #ededed;
    padding-bottom: 12px;

}

.category__item:nth-child(n+2) {
    
    margin-top: 19px;

}

.category__item-count {
    
    padding-left: 5px;
}


.shop {

    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

}

.shop__title-text {

    font-size: 20px;
    margin: 64px 0 45px 0;

}

.shop__title-text::after {

    width: 67px;
    height: 3px;
    left: 30%;
    bottom: -15px;

}

.shop__products {

    flex-direction: row;
    width: 1200px;
    justify-content: center;
}

.product {

    align-items: center;
    width: 348px;

}

.product:nth-child(n+2) {
    
    margin-left: 65px;
    margin-top: 0;
}

.product__pillows {
    background-image: url(../images/shop-item-desk1.jpg);
    background-size: 300px auto;

}

.product__dolly-bunny {

    background-image: url(../images/shop-item-desk2.jpg);
    background-size: 300px auto;

}

.product__hexagonal-frame {

    background-image: url(../images/shop-item-desk3.jpg);
    background-size: 300px auto;

}

.product__card {

    width: 348px;
    height: 100%;
    border: 3px solid rgba(174,158,95,0.6);
    
    margin-top: 173px;
    padding: 54px 20px 26px 20px;

}


.product__name {

    font-size: 20px;
    margin: 0 0 8px 0;
   
}

.product__description {

    font-size: 15px;
    line-height: 22px;
}

.product__footer {

    margin-top: 26px;
}

.product__button {

    width: 140px;
    height: 50px;

}

.footer {
    
    width: 1170px;
    padding: 0 15px;

    margin: 0 auto;
    margin-top: 67px;
    
}

.socials {

    width: 1170px;

}

.socials__links {

    margin: 31px 0; 

}

.copyrights {

    width: 1170px;
    padding-top: 74px;
    padding-bottom: 44px;
    
}

.popup-container {

    width: 390px;
    position: absolute;
    top: 238px;
    left: 560px;
    z-index: 100;

}

.popup {

    width: 390px;
    padding: 55px 30px;
    background-color: #ffffff;
    align-items: center;

}

.popup__title-text {

    font-size: 20px;
    margin: 0 0 45px 0;

}

.popup__title-text::after {

    width: 67px;
    height: 3px;
    left: 31px;
    bottom: -15px;

}

.frequency__select {

    width: 330px;
    height: 48px;
    margin-top: 9px;
    padding-left: 19px;
   
    background-size: 9px 17px;
    background-position: right 5px center;

}

.frequency__select:focus {

    border: 2px solid #ae9e5f;

}

.radio-button {

    margin-top: 34px;
    align-self: flex-start;
}

.radio-group {

    margin-top: 9px;

}

.radio-group:nth-of-type(n+2) {

    margin-left: 36px;

}


.radio-group__text::before {

    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-size: 18px;
    vertical-align: bottom;

}


.input-content {

    width: 330px;
    margin-top: 33px;
    margin-bottom: 25px;

}

.input-content__form {

    width: 330px;

    margin-top: 12px;
    padding: 21px 0 100px 21px;

}

.input-content__form:focus {
    
    border: 2px solid #ae9e5f;

}


.popup-button {

    width: 330px;
    height: 49px;

    font-size: 14px;

}


.popup-close {

    top: -27px;
    right: 0;
 
    width: 19px;
    height: 19px;

 }

 }